
<div nz-row>
    <div nz-col [nzSpan]="24" class="min-margin">
        <h1 nz-typography class="center-in-col no-margin">Sistema de Facturacion Energetica</h1>
    </div>
</div>
    <div nz-row class="min-margin">
        <div nz-col [nzSpan]="6">
            <h3 nz-typography class="no-margin center-in-col">Bloques Horarios</h3>
        </div>
        <div nz-col [nzSpan]="6" class="center-in-col">
            <button nz-button nzType="primary" (click)="mostrarFormularioMatrizHoraria()">Nuevo Bloque Horario</button>
        </div>
        <div nz-col [nzSpan]="6">
            <nz-input-group [nzPrefix]="prefixTemplateIcon">
                <input nz-input type="text" placeholder="Buscar">
            </nz-input-group>
            <ng-template #prefixTemplateIcon>
                <i nz-icon nzType="search"></i>
            </ng-template>
        </div>
        <div nz-col [nzSpan]="6" class="center-in-col">
            <nz-select [(ngModel)]="MatrizHorariaKey" [nzDisabled]="loadingSelectData" [nzLoading]="loadingSelectData" (ngModelChange)="handleChangeMatrizHorariaSelect()">
              <nz-option *ngFor="let matriz of MatrizHorariaData" [nzValue]="matriz.id" [nzLabel]="matriz.codigo"></nz-option>
            </nz-select>
        </div>
    </div>
<br>
<form nz-form>
  <nz-form-item>

  </nz-form-item>
</form>
<div nz-row nzType="flex" nzJustify="center" nzAlign="middle" class="min-margin">
    <div nz-col [nzSpan]="18">
        <nz-table [nzData]="['']" nzBordered [nzLoading]="loadingTableData">
            <thead class="bold-text">
                <tr>
                    <th rowspan="2" [nzAlign]="'center'">Clase Dia</th>
                    <th colspan="2" [nzAlign]="'center'">Periodo de Punta</th>
                    <th colspan="2" [nzAlign]="'center'">Periodo de Intermedio</th>
                    <th colspan="2" [nzAlign]="'center'">Periodo de Valle</th>
                </tr>
                <tr>
                    <th [nzAlign]="'center'">Total Horas</th>
                    <th [nzAlign]="'center'">Horarios</th>
                    <th [nzAlign]="'center'">Total Horas</th>
                    <th [nzAlign]="'center'">Horarios</th>
                    <th [nzAlign]="'center'">Total Horas</th>
                    <th [nzAlign]="'center'">Horarios</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of TableDataView; index as i;">
                    <td [nzAlign]="'center'">{{ data.ClaseDia }}</td>
                    <td [nzAlign]="'center'">{{ data.Tiempo.TotalHoras[0] }}</td>
                    <td [nzAlign]="'center'">
                      <button nz-button nzType="link"
                      (click)="handleSaveDataInVariables(i,0,0,data.IdBloques[0])"
                      (click)="openHorarioModal()"
                      ><i class="add-button" nz-icon nzType="plus"></i></button>
                      <button nz-button nzType="link"
                      ><i class="delete-button" nz-icon nzType="delete" nzTheme="outline"></i></button>
                      <pre>{{ data.Tiempo.Horarios[0] }}</pre>
                    </td>
                    <td [nzAlign]="'center'">{{ data.Tiempo.TotalHoras[1] }}</td>
                    <td [nzAlign]="'center'">
                      <button nz-button nzType="link"
                      (click)="handleSaveDataInVariables(i,1,1,data.IdBloques[1])"
                      (click)="openHorarioModal()"
                      ><i class="add-button" nz-icon nzType="plus"></i></button>
                      <button nz-button nzType="link"
                      ><i class="delete-button" nz-icon nzType="delete" nzTheme="outline"></i></button>
                      <pre>{{ data.Tiempo.Horarios[1] }}</pre>
                    </td>
                    <td [nzAlign]="'center'">{{ data.Tiempo.TotalHoras[2] }}</td>
                    <td [nzAlign]="'center'">
                      <button nz-button nzType="link"
                      (click)="handleSaveDataInVariables(i,2,2,data.IdBloques[2])"
                      (click)="openHorarioModal()"
                      ><i class="add-button" nz-icon nzType="plus"></i></button>
                      <button nz-button nzType="link"
                      ><i class="delete-button" nz-icon nzType="delete" nzTheme="outline"></i></button>
                      <pre>{{ data.Tiempo.Horarios[2] }}</pre>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>
<div nz-row nzType="flex" nzJustify="center" nzAlign="middle" class="min-margin">
    <div nz-col>
        <label>Observaciones</label>
    </div>
</div>
<div nz-row nzType="flex" nzJustify="center" nzAlign="middle" class="min-margin">
    <div nz-col [nzSpan]="16">
        <textarea nz-input [formControl]="observacion">{{observacion.value}}</textarea>
    </div>
</div>
<nz-drawer
    [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
    [nzMaskClosable]="false"
    [nzWidth]="720"
    [nzVisible]="visibleMatrizHorariaForm"
    nzTitle="Nueva Matriz Horaria"
    (nzOnClose)="handleCloseMatrizHorariaForm()"
>
<form nz-form [formGroup]="matrizHorariaForm">
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Codigo</nz-form-label>
          <nz-form-control>
            <input nz-input placeholder="Ingrese Codigo de la Matriz" formControlName="Codigo"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Descripcion</nz-form-label>
          <nz-form-control>
            <nz-input-group>
              <input type="text" nz-input placeholder="De una Descripcion" formControlName="Descripcion"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Observacion</nz-form-label>
          <nz-form-control>
            <textarea
              nz-input
              placeholder="Escriba alguna Observacion"
              [nzAutosize]="{ minRows: 4, maxRows: 4 }"
              formControlName="Observacion"
            ></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  <div class="footer">
    <button type="button" (click)="handleCloseMatrizHorariaForm()" class="ant-btn ant-btn-danger" style="margin-right: 8px;"><span>Cancel</span></button>
    <button type="button" (click)="handleOkMatrizHorariaForm()" class="ant-btn ant-btn-primary"><span>Submit</span></button>
  </div>
</nz-drawer>

<div>
  <nz-modal
    [(nzVisible)]="visibleHorariosModal"
    nzTitle="Agregar Horario"
    [nzFooter]="modalFooter"
    [nzContent]="modalContent"
    [nzOkLoading]="loadingPostingHorario"
    (nzOnCancel)="handleCancelModalHorarios()"
  >

  <ng-template #modalContent>
    <form nz-form>
      <div nz-row nzGutter="8">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label>Hora Inicial</nz-form-label>
              <nz-time-picker
              nzFormat="HH"
              [(ngModel)]="InitialTime"
              [ngModelOptions]="{standalone: true}"
              ></nz-time-picker>
          </nz-form-item>
        </div>
      </div>
      <div nz-row nzGutter="8">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label>Hora Final</nz-form-label>
              <nz-time-picker
              nzFormat="HH"
              [(ngModel)]="FinalTime"
              [ngModelOptions]="{standalone: true}"
              >
              </nz-time-picker>
          </nz-form-item>
        </div>
      </div>
    </form>
    

  </ng-template>

  <ng-template #modalFooter>
    <button type="button" (click)="handleCancelModalHorarios()" class="ant-btn ant-btn-danger" style="margin-right: 8px;"><span>Cancel</span></button>
    <button type="button" (click)="handleOkModalHorarios()" class="ant-btn ant-btn-primary"><span>Submit</span></button>
  </ng-template>
  </nz-modal>
</div>