<nz-layout>
    <nz-header class="header">
        <h1 nz-typography>Sistema de Facturacion Energetica</h1>
    </nz-header>
    <nz-content class="content">
        <div nz-row class="rows-content" style="text-align: center;" >
            <div nz-col [nzSpan]="6">
                <h3 nz-typography style="text-align: center;">Bloques Horarios</h3>
            </div>
            <div nz-col [nzSpan]="6">
                <button nz-button nzType="primary" nzShape="round">Nuevo Bloque Horario</button>
            </div>
            <div nz-col [nzSpan]="6">
                <nz-input-group [nzPrefix]="prefixTemplateIcon">
                    <input nz-input type="text" placeholder="Buscar">
                </nz-input-group>
                <ng-template #prefixTemplateIcon>
                    <i nz-icon nzType="search"></i>
                </ng-template>
            </div>
        </div>
        <div nz-row>
            <div nz-col [nzSpan]="20">
                <nz-table #BloqueHorarioTable [nzData]="Data" nzBordered>
                    <thead>
                        <tr>
                            <th rowspan="2">Clase Dia</th>
                            <th colspan="2">Periodo de Punta</th>
                            <th colspan="2">Periodo de Intermdio</th>
                            <th colspan="2">Periodo de Valle</th>
                        </tr>
                        <tr>
                            <th colspan="2">Horarios</th>
                            <th colspan="2">Horarios</th>
                            <th colspan="2">Horarios</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of BloqueHorarioTable.data" (click)="mostrarObservacion(data[0])">
                            <td>{{data[0].claseDia.nombre}}</td>
                            <td colspan="2"><a [nzValue]="data[0].id" (click)="imprimir($event)">Ver Horario</a></td>
                            <td colspan="2"><a [nzValue]="data[1].id" (click)="imprimir($event)">Ver Horario</a></td>
                            <td colspan="2"><a [nzValue]="data[2].id" (click)="imprimir($event)">Ver Horario</a></td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
        <div nz-row>
            <div nz-col>
                <label>Observaciones</label>
            </div>
        </div>
        <div nz-row>
            <div nz-col [nzSpan]="20">
                <textarea nz-input [formControl]="observacion">{{observacion.value}}</textarea>
            </div>
        </div>
    </nz-content>
</nz-layout>