.center-in-col{
    text-align: center;
}

.no-margin{
    margin: 0;
}

.min-margin{
    margin: 12px;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid rgb(232, 232, 232);
    padding: 10px 16px;
    text-align: right;
    left: 0px;
    background: #fff;
}

