/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "~ng-zorro-antd/style/index.min.css";

:root .ant-table-thead > tr > th{
    text-align: center;
    font-weight: 700;

}

:root .ant-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

:root .ant-table table{
    text-align: center;
}